<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />

    <title>Taxi Company</title>
</head>
<body class="bg-background">
<header class="bg-primary px-3 py-4">
    <div class="wrapper flex items-center gap-4">
        <div class="mr-8">
            <img th:src="@{/assets/logo.png}" class="h-8"/>
        </div>
        <nav class="grow flex gap-8 [&>*]:font-bold">
            <a class="text-white" href="/">Home</a>
            <a class="text-white" href="/trips">My Trips</a>
            <a class="text-white" href="/aboutus">About Us</a>
            <a class="text-white" href="/contacts">Contacts</a>
        </nav>
        <div th:object="${auth}" class="flex justify-end items-center gap-2">
            <p class="text-white font-light">Hello <span th:text="*{getName()}" class="text-white"></span>!</p>
            <a th:href="@{/logout}" title="Logout"><img th:src="@{/assets/icons/logout.svg}" class="w-4"/></a>
        </div>
    </div>
</header>

<main th:if="${auth.getRole().getName().equalsIgnoreCase('client')}" class="wrapper">
    <h1 class="text-3xl font-bold mb-6 mt-12">My Trips</h1>

    <table class="w-full text-sm text-left border border-tertiary">
        <thead>
            <tr class="bg-white border-b">
                <th class="px-6 py-4 font-normal text-text-secondary">Origin</th>
                <th class="px-6 py-4 font-normal text-text-secondary">Pickup Date</th>
                <th class="px-6 py-4 font-normal text-text-secondary">Destination</th>
                <th class="px-6 py-4 font-normal text-text-secondary">Status</th>
                <th class="px-6 py-4 font-normal text-text-secondary"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="booking : ${clientBookings}" class="bg-white border-b odd:bg-background">
                <td class="px-6 py-4" th:text="${booking.getOrigin()}"></td>
                <td class="px-6 py-4" th:text="${booking.getDestination()}"></td>
                <td class="px-6 py-4" th:text="${booking.getPickupDate()}"></td>
                <td class="px-6 py-4" th:text="${booking.getState().getName()}"></td>
                <td class="px-6 py-4"><a th:href="'/view-trip?id=' + ${booking.getId()}"><img th:src="@{/assets/icons/eye.svg}" class="w-6"/></a></td>
            </tr>
        </tbody>
    </table>
</main>

<main th:if="${auth.getRole().getName().equalsIgnoreCase('driver')}" class="wrapper">
    <div th:if="${taxi == null}"
         class="w-[440px] flex flex-col items-center gap-4  m-auto mt-12 drop-shadow-md bg-white p-8 rounded border border-tertiary">
        <h2 class="font-bold text-3xl text-center">What car are you in today?</h2>

        <form class="flex flex-col gap-3 w-full" th:object="${plate}" method="post" th:action="@{/trips-select-taxi}">
            <div>
                <input type="text"
                       th:field="*{plate}"
                       placeholder="License Plate"
                       class="border rounded px-6 py-3 w-full"
                       th:classappend="${#fields.hasErrors('plate')} ? 'border-danger' : 'border-tertiary'"/>

                <span th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}" class="text-sm text-danger"></span>
            </div>

            <button type="submit" class="bg-primary text-white hover:bg-dark-primary rounded px-6 py-3 w-full">View Trips</button>
        </form>
    </div>
    <div th:if="${taxi != null}">
        <h1 class="text-3xl font-bold mb-6 mt-12">Your current trip</h1>
        <div th:each="booking : ${ongoingBookings}" th:object="${booking}" class="bg-white border border-tertiary rounded flex flex-col gap-4 p-6 mb-4">
            <div>
                <h6 class="font-bold text-text-secondary">Booked by</h6>
                <p th:text="*{getBookedBy().getEmail()}"></p>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Origin</h6>
                    <p th:text="*{getOrigin()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Destination</h6>
                    <p th:text="*{getDestination()}"></p>
                </div>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Pickup Date</h6>
                    <p th:text="*{getPickupDate()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Occupancy</h6>
                    <p th:text="*{getOccupancy()}"></p>
                </div>
            </div>

            <div>
                <h6 class="font-bold text-text-secondary">Extra</h6>
                <p th:text="*{getExtra().isBlank()} ? 'No extra message' : *{getExtra()}"></p>
            </div>

            <a type="button" class="bg-primary text-white hover:bg-dark-primary rounded text-center px-6 py-3 w-full" th:if="${bookingStat.first}" th:href="'/start-trip?id=' + ${booking.getId()}">Start Trip</a>
        </div>
        <div th:if="${ongoingBookings.size() == 0}" class="bg-white border border-tertiary rounded flex justify-center p-6 mb-4">
            <p>You have no ongoing trip!</p>
        </div>

        <h1 class="text-3xl font-bold mb-6 mt-12">Your next trips</h1>
        <div th:each="booking : ${confirmedBookings}" th:object="${booking}" class="bg-white border border-tertiary rounded flex flex-col gap-4 p-6 mb-4">
            <div>
                <h6 class="font-bold text-text-secondary">Booked by</h6>
                <p th:text="*{getBookedBy().getEmail()}"></p>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Origin</h6>
                    <p th:text="*{getOrigin()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Destination</h6>
                    <p th:text="*{getDestination()}"></p>
                </div>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Pickup Date</h6>
                    <p th:text="*{getPickupDate()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Occupancy</h6>
                    <p th:text="*{getOccupancy()}"></p>
                </div>
            </div>

            <div>
                <h6 class="font-bold text-text-secondary">Extra</h6>
                <p th:text="*{getExtra().isBlank()} ? 'No extra message' : *{getExtra()}"></p>
            </div>

            <a type="button" class="bg-primary text-white hover:bg-dark-primary rounded text-center px-6 py-3 w-full" th:if="${bookingStat.first && ongoingBookings.size() == 0}" th:href="'/start-trip?id=' + ${booking.getId()}">Start Trip</a>
        </div>

        <h1 class="text-3xl font-bold mb-6 mt-12">Completed Trips</h1>
        <div th:each="trip : ${completedTrips}" th:object="${trip}" class="bg-white border border-tertiary rounded flex flex-col gap-4 p-6 mb-4">
            <div>
                <h6 class="font-bold text-text-secondary">Booked by</h6>
                <p th:text="*{getBooking().getBookedBy().getEmail()}"></p>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Origin</h6>
                    <p th:text="*{getBooking().getOrigin()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Destination</h6>
                    <p th:text="*{getBooking().getDestination()}"></p>
                </div>
            </div>

            <div>
                <h6 class="font-bold text-text-secondary">Extra</h6>
                <p th:text="*{getBooking().getExtra().isBlank()} ? 'No extra message' : *{getBooking().getExtra()}"></p>
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <h6 class="font-bold text-text-secondary">Pickup Date</h6>
                    <p th:text="*{getPickupDate()}"></p>
                </div>
                <div>
                    <h6 class="font-bold text-text-secondary">Dropoff Date</h6>
                    <p th:text="*{getDropoffDate()}"></p>
                </div>
            </div>
        </div>

    </div>
</main>
</body>