@import url("../shared/variables.css");

.button {
    -fx-font-size: 16;
    -fx-effect: null;

    -fx-background-color: -fx-color-white;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 4;

    -fx-padding: 0;
    -fx-cursor: hand;
}

.button--small {
    -fx-padding: 4 12;
}

.button--normal {
    -fx-padding: 8 16;
}

.button--large {
    -fx-padding: 12 24;
}

.button--super_large {
    -fx-padding: 16 32;
}

.button--primary {
    -fx-border-color: -fx-color-primary;
    -fx-background-color: -fx-color-primary;
    -fx-text-fill: -fx-color-white;
}

.button--primary:hover,
.button--primary:focused {
    -fx-background-color: -fx-color-dark-primary;
    -fx-border-color: -fx-color-dark-primary;
    -fx-text-fill: -fx-color-white;
}

.button--outlined_primary {
    -fx-border-color: -fx-color-primary;
    -fx-background-color: -fx-color-white;
    -fx-text-fill: -fx-color-primary;
}