@import url("../shared/variables.css");

.text-field {
    -fx-font-size: 16;
    -fx-effect: null;

    -fx-background-color: -fx-color-white;
    -fx-background-radius: 4;
    -fx-background-insets: 0;

    -fx-border-color: -fx-color-tertiary;
    -fx-border-radius: 4;
    -fx-border-width: 1;

    -fx-padding: 8 16;
}

.text-field--error {
    -fx-border-color: -fx-color-danger;
}