@import url("../shared/variables.css");

.text-field__wrapper {
    -fx-background-color: -fx-color-white;
    -fx-background-radius: 4;
    -fx-background-insets: 0;

    -fx-border-color: -fx-color-tertiary;
    -fx-border-radius: 4;
    -fx-border-width: 1;

    -fx-padding: 0 16;
}

.text-field__input {
    -fx-font-size: 14;
    -fx-effect: null;

    -fx-padding: 8 0;

    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;

    -fx-border-color: null;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-prompt-text-fill: -fx-color-tertiary;
}

.text-field__wrapper--icon {
    -fx-padding: 0 12;
}

.text-field__wrapper--error {
    -fx-border-color: -fx-color-danger;
}

.text-field__error_label {
    -fx-text-fill: -fx-color-danger;
}

.combo-box .text-input{
    -fx-prompt-text-fill: -fx-color-tertiary;
}

.combobox {
    -fx-font-size: 14;
    -fx-effect: null;

    -fx-background-color: -fx-color-white;
    -fx-background-radius: 4;
    -fx-background-insets: 0;

    -fx-border-color: -fx-color-tertiary;
    -fx-border-radius: 4;
    -fx-border-width: 1;

    -fx-padding: 3 8;
}

.combobox .list-view .list-cell:hover,
.combobox .list-view .list-cell:selected {
    -fx-background-color: -fx-color-tertiary;
}