* {
    -fx-color-primary: #76279B;
    -fx-color-tertiary: #C9C9C9;
    -fx-color-text-primary: #474747;
    -fx-color-text-secondary: #ABAAAA;
    -fx-color-info: #3578E5;
    -fx-color-background: #F5F5F5;
    -fx-color-white: #fff;
    -fx-color-dark: #302F2F;
    -fx-color-dark-primary: #682288;

    -fx-color-danger: #dc3545;
    -fx-color-warning: #ffc107;

    -fx-color-shadow: rgba(75,75,75,0.5)
}